<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zeron.sophon.persistence.mapper.ResourcesMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	res.id	=	#{id}
		</if> 
		<if test="appId != null and appId != ''">
            and res.appid  =   #{appId}
        </if> 
        <if test="parentId != null and parentId != ''">
            and res.parentid  =   #{parentId}
        </if> 
		<if test="resourceName != null and resourceName != ''">
			and res.resourcename like concat('%',#{resourceName},'%')
		</if>
    </sql>
    
	
	
	<select id="fetchPageResults" parameterType="Resources" resultType="Resources">
		select
			res.*,app.appname
		from
			ze_resources res, ze_apps app
		where
			 res.instid   =   #{instId} 
			 and app.instid   =   #{instId} 	
			 and res.appid=app.id
		<include refid="where_statement"/>
		order by res.sortindex 
	</select>
	
	
	<update id="logisticDelete" parameterType="Resources" >
    	update ze_resources set
    		status	=	'2'  
    	where	instid   =   #{instId} 
    	<if test="id != null">
			and	id	=	#{id}
		</if>
		<if test="resourceName != resourceName">
			and	resourcename	=	#{resourceName}
		</if>
    </update>
    
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	update ze_resources 
    	set status='2'
    	where  instid   =   #{instId} 
    	   and id in
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
    </update>
    
    <select id="queryResourcesByRoleIds"  parameterType="java.util.List" resultType="Resources">
        select
            distinct res.*
        from
            ze_resources res
        where
            res.status = 1
            and res.id in (
                select
                    resourceid
                from
                    ze_permission_role
                where
                    roleid in
                    <foreach item="item" collection="list" open="(" separator="," close=")">
                        #{item}
                    </foreach>
            )
        order by res.sortindex
    </select>
   
    <select id="queryResourcesByRoleAndGroupIds" parameterType="java.util.Map" resultType="Resources">
        select
            distinct res.*
        from
            ze_resources res
        where
            res.status = 1
            and (
                <if test="roleIds != null and roleIds.size() > 0">
                res.id in (
                    select
                        resourceid
                    from
                        ze_permission_role
                    where
                        roleid in
                        <foreach item="item" collection="roleIds" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                )
                </if>
                <if test="roleIds != null and roleIds.size() > 0 and groupIds != null and groupIds.size() > 0">
                    or
                </if>
                 <if test="groupIds != null and groupIds.size() > 0">
                res.id in (
                    select
                        resourceid
                    from
                        ze_permission
                    where
                        groupid in
                        <foreach item="item" collection="groupIds" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                )
                </if>
            )
        order by res.sortindex
    </select>
   
</mapper>
